*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}

:root{
  font-size: 62.5%;

  --text-color-primary: hsla(240, 0%, 100%);
  --text-color-nav: hsla(240, 6%, 58%);
}

body{
  background: url(./images/mountains-universe-1\ 1.svg) no-repeat;
  background-size: cover;
  color: var(--text-color-primary);
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  width: 100%;
  height: 720px;

}

/* .container{
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
} */

header{
  display: flex;
  gap: 3.2rem;
  align-items: center;
  width: 50rem;
  margin: 40px 0 40px 70px;
}

nav{
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
}

nav a{
  color: var(--text-color-nav);
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.2rem;
}


nav a:hover{
  color: var(--text-color-primary);
  font-weight: 700;
}

h1{
  display: grid;
  align-items: flex-start;
  padding: 0px;
  place-content: center;

  /* position: absolute; */
  width: 399px;
  /* height: 60px;
  left: 440px; */
  top: 294px;
}

button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 32px;
gap: 8px;

color: #FFFFFF;
background: none;
border: 2px solid #FFFFFF;
border-radius: 5px;

font-family: 'Roboto';
font-weight: 700;
font-size: 14px;
line-height: 24px;
text-transform: uppercase;

margin-top: 24px;
}

button:hover{
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  
  color: #02799D;
  background-color: #FFFFFF;
  
  flex: none;
  order: 0;
  flex-grow: 0;
}

#app{
  display: grid;
  place-content: center;
  justify-content: center;
  align-items: center;
  height: 530px;

}

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* place-content: center; */
  margin: 0 auto;
  width: 390px;
  height: 100%;


}

.btn{
  display: grid;
  place-content: center;
}